<?xml version="1.0"?>
<launch>
 
 <arg name="robot_name" default="uav0"/>
<arg name="height" default="1"/>

<group ns="$(arg robot_name)">
	<node name="takeoff" pkg="uav_map" type="takeoff" output="screen">
		<param name="height" type="double" value="$(arg height)"/>
	</node>
	
 	<node name="levy" pkg="uav_map" type="levy" output="screen"/>
 	<node name="dwa" pkg="uav_map" type="dwa" output="screen"/>
	<node name="controller" pkg="uav_map" type="controller" output="screen"/>
</group>  


  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="scan_topic" value="$(arg robot_name)/scan"/>
  </include> 

</launch>
