<?xml version="1.0"?>

<launch>
 <!-- roslaunch launcher spawn_ground.launch x:=8 y:=0 y:=0 yaw:=0 conf:=0.8 width:=100 env_width:=100 env_height:=100 update_rate:=100 n_robots:=100  pheromone_resolution:=0.25 robot_trail_radius:=0.8 robot_trail_value:=75 wall_trail_value:=255 diffusion_sigma:=100 diffusion_rate:=100 -->

  <arg name="robot_name" default="ground"/>
  <arg name="x" default="8"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="yaw" default="0"/>
  <arg name="conf" default="0.6"/>
  <arg name="width" default="100"/>
  <arg name="env_width" default = "100"/>
  <arg name="env_height" default = "100"/>
  <arg name="update_rate" default = "1"/>
  <arg name="n_robots" default = "3 "/>
  <arg name="pheromone_resolution" default = "0.25"/>
  <arg name="robot_trail_radius" default = "0.8"/>
  <arg name="robot_trail_value" default = "75"/>
  <arg name="wall_trail_value" default = "255"/>
  <arg name="diffusion_sigma" default = "100"/>
  <arg name="diffusion_rate" default = "100"/>
  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model_$(arg robot_name3)" args="-urdf -param $(arg robot_name3)/robot_description -namespace $(arg robot_name3) -model $(arg robot_name3) -x $(arg x3) -y $(arg y3) -z $(arg z3) -Y $(arg yaw3)"/>
  <group ns="$(arg robot_name3)">   
    <param name="robot_description" command="$(find xacro)/xacro '$(find p3at_description)/urdf/pioneer3at_rc2016.urdf.xacro' robot_name:=$(arg robot_name3)" />
    <param name="tf_prefix" type="string" value="$(arg robot_name3)" />

    <node name="map_merge" type="map_merge" pkg="multirobot_map_merge" respawn="false" output="log">
     <param name="known_init_poses" value="false"/>
     <param name="world_frame" value="/map"/>
     <param name="robot_topic_name" value=""/>
     <param name="confidence" value="$(arg conf)"/>
    </node>

    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

    <!-- <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" respawn="false" output="log" args="scan:=/$(arg robot_name3)/scan _odom_frame:=/$(arg robot_name3)/odom _base_frame:=/$(arg robot_name3)/base_link map:=/$(arg robot_name3)/map _map_frame:=/map"/> -->

    <node name="tf_static_odom_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg robot_name3)/hokuyo_link $(arg robot_name3)/hokuyo_frame 100"/>

    <node name="map_to_image_node_mod" pkg="map_to_jpeg" type="map_to_image_node_mod" respawn="false" output="log" args="map:=/$(arg robot_name3)/map map_image/full:=/$(arg robot_name3)/map_image"/>

   <node name="pheromone_map" pkg="pheromone_map" type="pheromone_wrapper.py" respawn="false" output="screen">
        <param name="width" value="$(arg width)"/>    
        <param name="env_width" value = "$(arg env_width)"/>
        <param name="env_height" value = "$(arg env_height)"/>
        <param name="update_rate" value = "$(arg update_rate)"/>
        <param name="n_robots" value = "$(arg n_robots)"/>
        <param name="pheromone_resolution" value = "$(arg pheromone_resolution)"/>
        <param name="robot_trail_radius" value = "$(arg robot_trail_radius)"/>
        <param name="robot_trail_value" value = "$(arg robot_trail_value)"/>
        <param name="wall_trail_value" value = "$(arg wall_trail_value)"/>
        <param name="diffusion_sigma" value = "$(arg diffusion_sigma)"/>
        <param name="diffusion_rate" value = "$(arg diffusion_rate)"/>
    </node> 
	</group>

</launch>
