<?xml version="1.0"?>
<launch>


<group ns="uav0">
	<node name="takeoff" pkg="uav_map" type="takeoff" output="screen"/>
 	<node name="levy" pkg="uav_map" type="levy" output="screen"/>
 	<node name="dwa" pkg="uav_map" type="dwa" output="screen"/>
	<node name="controller" pkg="uav_map" type="controller" output="screen"/> 
</group>

<group ns="uav1">
	<node name="takeoff" pkg="uav_map" type="takeoff" output="screen"/>
 	 <node name="levy" pkg="uav_map" type="levy" output="screen"/>
 	<node name="dwa" pkg="uav_map" type="dwa" output="screen"/>
	<node name="controller" pkg="uav_map" type="controller" output="screen"/> 
</group>

<group ns="uav2">
	<node name="takeoff" pkg="uav_map" type="takeoff" output="screen"/>
 	 <node name="levy" pkg="uav_map" type="levy" output="screen"/>
 	<node name="dwa" pkg="uav_map" type="dwa" output="screen"/>
	<node name="controller" pkg="uav_map" type="controller" output="screen"/> 
</group>

<group ns="uav3">
	<node name="takeoff" pkg="uav_map" type="takeoff" output="screen"/>	
 	 <node name="levy" pkg="uav_map" type="levy" output="screen"/>
 	<node name="dwa" pkg="uav_map" type="dwa" output="screen"/>
	<node name="controller" pkg="uav_map" type="controller" output="screen"/> 
</group>

<!--

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="robot_name" value="uav0"/>
    <arg name="scan_topic" value="uav0/scan"/>
  </include>


  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="robot_name" value="uav1"/>
    <arg name="scan_topic" value="uav1/scan"/>
  </include>


  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="robot_name" value="uav2"/>
    <arg name="scan_topic" value="uav2/scan"/>
  </include>


  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <arg name="robot_name" value="uav3"/>
    <arg name="scan_topic" value="uav3/scan"/>
  </include>
-->
</launch>
