<?xml version="1.0"?>

<launch>
 <!-- roslaunch launcher launch_ground.launch conf:=0.8 width:=100 env_width:=100 env_height:=100 update_rate:=100 n_robots:=100  pheromone_resolution:=0.25 robot_trail_radius:=0.8 robot_trail_value:=75 wall_trail_value:=255 diffusion_sigma:=0.5 diffusion_rate:=100 -->

  <arg name="robot_name" default="ground"/>
   <!--<arg name="x" default="8"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="yaw" default="0"/> -->
  <arg name="conf" default="0.25"/>
  <arg name="width" default="100"/>

 
  
  <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_model_$(arg robot_name)" args="-urdf -param $(arg robot_name)/robot_description -namespace $(arg robot_name) -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"/>
  -->
  <group ns="$(arg robot_name)">   


    <node name="map_merge" type="map_merge" pkg="multirobot_map_merge" respawn="false" output="screen">
     <param name="known_init_poses" value="false"/>
     <param name="world_frame" value="/world"/>
     <param name="robot_topic_name" value=""/>
     <param name="confidence" value="$(arg conf)"/>
    </node>


    <!-- <node name="map_to_image_node_mod" pkg="map_to_jpeg" type="map_to_image_node_mod" respawn="false" output="screen" args="map:=/$(arg robot_name)/map map_image/full:=/$(arg robot_name)/map_image"/> -->

	<!--<node name="print_victims" pkg="map_to_jpeg" type="ground_map_control" respawn="false" output="screen" args="map:=/$(arg robot_name)/map map_image/full:=/$(arg robot_name)/map_image">
      <param name="save_map" value="true"/>
    </node> -->
    <!-- <node name="map_to_image_node_mod" pkg="map_to_jpeg" type="ground_map_control" respawn="false" output="screen" if="$(arg ground)" args="map:=/$(arg robot_name)/map map_image/full:=/$(arg robot_name)/map_image">
      <param name="save_map" value="false"/>
    </node> -->

    <!-- <node name="tf_static_odom_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 $(arg robot_name)/hokuyo_link $(arg robot_name)/hokuyo_frame 100"/> -->
  


    
	</group>

</launch>
