<?xml version="1.0"?>

<launch>
 
<arg name="robot_name" default="uav0"/>
<arg name="height" default="1"/>
 
<group ns="$(arg robot_name)">
	
	<node name="takeoff" pkg="uav_map" type="takeoff" output="screen">
		<!-- <remap from="$(arg robot_name)/ground_truth/state" to="$(arg robot_name)/odom" /> -->
		<param name="height" type="double" value="$(arg height)"/>
	</node>
		
    <node name="levy" pkg="uav_map" type="levy" output="screen"/>  		
 	<node name="dwa" pkg="uav_map" type="dwa" output="screen"/> 
	<node name="controller" pkg="uav_map" type="controller" output="screen"/>
	
	<node pkg="tf" type="static_transform_publisher" name="broadcaster_laser_frame_to_hokyuo" args="0 0 0 0 0 0 $(arg robot_name)/laser0_frame $(arg robot_name)/hokuyo_link 100" />
	<!-- <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 100" /> -->
	
	<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" respawn="false" output="screen" args="scan:=/$(arg robot_name)/scan map:=/$(arg robot_name)/map">
      <param name="map_frame" value="/world" />
      <param name="odom_frame" value="/$(arg robot_name)/ground_truth/state"/>
      <param name="base_frame" value="/$(arg robot_name)/base_link"/>
    </node>
	
	 <include file="$(find edinbots_launcher)/launch/launch_detection.launch"/>	

	<!-- <node name="map_to_image_node_mod" pkg="map_to_jpeg" type="map_to_image_node_mod" respawn="false" output="screen" args="map:=/$(arg robot_name)/map map_image/full:=/$(arg robot_name)/map_image"/> -->


</group>
<!--
<include file="$(find hector_mapping)/launch/mapping_default.launch">
  <arg name="robot_name" value="$(arg robot_name)"/>
  <arg name="scan_topic" value="$(arg robot_name)/scan"/>
</include> 
-->	

		


</launch> 

